/* .gobackprj_btn{

    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .gobackprj_btn {
    justify-content: center;
} */


.required{

    color: red;
}

.client_search{

    margin: 0;
}

/* Ensure SweetAlert appears above everything */
.swal2-container {
    z-index: 99999 !important;
}