/* input.form-control {
    border: 1px solid rgb(72, 76, 127);
} */

.no-info-card {
    background: #f9f9f9;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: inline-block;
    max-width: 400px;
    width: 100%;
  }

  /* .Go-backbtn {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.required{

  color: red;
}

.employee_search{

  margin: 0;
}